- const socialList = ['facebook', 'twitter', 'instagram']

+b.social
  +e.UL.list
    each item in socialList
      +e.LI.item
        +e.A.link(href="#")
          +icon(item)(width="20", height="20")
