- const about = getData('about');

+b.SECTION.about#about
  .container
    +e.inner
      +e.col
        +e.info
          +sectionText(about.title, about.subTitle, about.text, 'about')
      +e.col
        +image(about, '')
