.about__image {
  position: relative;
  width: 79%;
  padding-bottom: 79%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    right: -26%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 53%;
    height: 53%;
    border: 20px solid $main;
    border-radius: 5px;
    z-index: 1;
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about__info-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  margin: 0 0 20px 0;
}

.about__info-text {
  margin: 0;
  text-align: center;
}
