- const navList = getData('nav');

+b.NAV.nav
  include ../../components/burger/burger
  +e.wrap
    +e.UL.list
      each item in navList
        +e.LI.item
          +e.A.link(href= item.path)= item.title
