.team {
  position: relative;
  background-image: url("../img/team-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 0 100px;

  @include max($md) {
    padding: 40px 0;
  }

  & .overlay {
    z-index: 0;
  }
}

.team__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  @include max($md) {
    flex-direction: column;
    align-items: center;
  }
}

.team__main-title {
  margin-bottom: 40px;
}

.team__info-title {
  width: 100%;
  color: $white;
}

.team__col {
  width: 50%;
  display: flex;
  align-items: center;

  @include max($md) {
    width: 100%;
  }

  &:first-child {
    margin-right: 80px;

    @include max($lg) {
      margin-right: 30px;
    }

    @include max($md) {
      margin-right: 0;
      margin-bottom: 30px;
      max-width: 400px;
    }
  }

  &--image-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.team__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.team__info-subtitle {
  font-weight: 700;
  font-size: 18px;
  color: $white;
  text-align: center;
  line-height: 1.55;
  margin: 0 0 20px 0;
  width: 100%;
}

.team__info-text {
  margin: 0;
  text-align: center;
  color: rgba($white, 0.9);
  width: 100%;
}
