.footer__map {
  display: flex;
}

.footer__bottom {
  padding: 40px;
  background-color: rgba($black, 0.9);
}

.footer__text {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: rgba($white, 0.5);
}

.footer__link {
  font-size: 12px;
  font-weight: 700;
  color: rgba($white, 0.5);

  &:hover {
    text-decoration: underline;
  }
}
