extends ../layout/layout
include ../../blocks/btn/btn

block variables
  - const pageTitle = 'main'


block content
  include ../../blocks/header/header
  main.main
    include ../../blocks/about/about
