extends ../layout/layout
include ../../blocks/btn/btn
include ../../blocks/image/image
include ../../blocks/select/select

block variables
  - const pageTitle = 'main'


block content
  include ../../blocks/header/header
  main.main
    include ../../blocks/about/about
    include ../../blocks/team/team
    include ../../blocks/book/book
