- let wedding = {'img': 'wedding-img', 'alt': 'wedding', 'type': 'jpg'}
- let corporate = {'img': 'corporate-img', 'alt': 'corporate', 'type': 'jpg'}

+b.SECTION.events#events
  .overlay
  .container
    +e.H2.main-title.main-title private events
    +e.inner
      +e.col.--image-left
        +image(wedding, 'image--left image--wedding')
      +e.col
        +image(corporate, 'image--corporate')
    +e.P.contacts For private events please call:
      +e.A.link(href="tel:+40729131637") +40 729 131 637
      | <b>/</b>
      +e.A.link(href="tel:+40726458782") +40 726 458 782
      |  or use the contact form.
