.events {
  position: relative;
  background-image: url("../img/specialty-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 0 40px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/specialty-bg@2x.jpg");
  }

  & .overlay {
    z-index: 0;
  }
}

.events__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  @include max($md) {
    flex-direction: column;
    align-items: center;
  }
}

.events__main-title {
  margin-bottom: 40px;
}

.events__info-title {
  color: $white;
}

.events__col {
  width: 50%;
  display: flex;
  align-items: center;

  @include max($md) {
    width: 100%;
    max-width: 400px;
  }

  &:first-child {
    margin-right: 80px;

    @include max($lg) {
      margin-right: 30px;
    }

    @include max($md) {
      margin-bottom: 40px;
      margin-right: 0;
    }
  }

  &--image-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.events__contacts {
  position: relative;
  margin: 0;
  padding-top: 40px;
  color: rgba($white, 0.5);
  text-align: center;
  z-index: 4;
}

.events__link {
  color: rgba($white, 0.5);
  font-weight: 700;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}
