.header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.header__inner {
  flex-grow: 1;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;

  & svg {
    fill: $main;
  }
}

.header__info {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
