$black: #000000;
$white: #ffffff;
$main: #e8c300;
$gray: #e5e5e5;
$text-gray: #333333;
$text-light-gray: #999999;

$xs: 320;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
